/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
:root {
    --darkblue:#243347;
    --blue: #304560;
    --lightblue:#ACC9EF; 
    --darkgray: #94A0AF;
    --gray: #D8DDE2; 
    --black: #000000;
    --textgray: #E0DFD5;
    
    
}


