#gallery {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--gray);
    padding-top: 40px;

    section {
        .gall {
            padding: 10px;
            padding: 15px;

            h1 {
                margin: 0;
            }
        }

        button {
            background-color: var(--lightblue);
            padding: 6px 11px 6px 11px;
            border: none;
        }
    }



    

    @include md {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 25px;


        section {
            width: 48%;
        }

        section:last-child {
            margin: 0 auto;
        }
    }


    @include lg {
        justify-content: center;
        section {
            width: 31%;
        }

        section:last-child {
            margin: 0;
        }
    }
    li.imgthree{
        display: inline;
    }

    li.imgtwo, li.imgthree{
        height: 400px;
    }

    li.imgone{
        height: auto;
    }
}