#hero {
    ul {
        list-style: none;
        padding-top: 20px;
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--white);
    }
}