#subHero {

  display: grid;
  grid-template-columns: 1fr;


  div.left {
    background-color: var(--darkgray);
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }

  div.right {
    background-color: var(--lightblue);
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 1fr 1fr;
  }

  button {
    padding: 6px 11px 6px 11px;
    background-color: transparent !important;
    border: none;
    align-items: stretch;
  }
}



#subInfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;

  div.rightinfo {
    padding: 30px;
    margin: 15px;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
  }

  button {
    background-color: var(--lightblue);
    padding: 6px 11px 6px 11px;
    border: none;
  }

  img {
    width: 100px;

  }

  div.leftinfo {
    padding: 30px;
    margin: 15px;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
  }

  img {
    width: 100px;
  }

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 1fr 1fr;
  }



}