#subHero{

           
    display: grid;
        grid-template-columns: 1fr;
    

      div.left{
    background-color: var(--darkgray);
 
      }
    div.right{
        background-color: var(--lightblue);

    }
     @include md{
    
        grid-template-columns: 1fr 1fr;
    }

    @include lg{
        grid-template-columns: 1fr 1fr;
    }
}


 #subInfo{
    display: grid;

        grid-template-columns: 1fr;
        background-color: var(--gray);

     @include md{
    
        grid-template-columns: 1fr 1fr;
    
    }
    
    @include lg{
        grid-template-columns: 1fr 1fr;
    }
 }
    