/* =============
    Footer
============= */


footer{
    background-color: var(--darkblue);
    color: var(--white);
    padding: 40px 0;
    text-align: left; 
}

    // Medium devices
    @include md{
        ul{
        grid-template-columns: 1fr 2fr;
        }
    }

    
       
    // Large devices

        @include lg{
            ul{
            grid-template-columns: 1fr 1fr;
        }
    }
   

