/* =============
    Footer
============= */

#footer{
        
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--darkblue);
    color: var(--white);
    

    div.leftside{
      background-color: var(--darkblue);
    color: var(--white);

    }

    div.middle{
        background-color: var(--darkblue);
    color: var(--white);
    }
    
    div.rightside{
        background-color: var(--darkblue);
    color: var(--white);
    }

    @include md{
    
        grid-template-columns: 1fr 1fr;
    }

    @include lg{
        grid-template-columns: 1fr 1fr 1fr;
    }

} 
   