/* =============
    Footer
============= */

#footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--darkblue);
    color: var(--textgray);

    div.place {
        padding-left: 25px;
    }
    div.address {
        display: flex;
        img {
            width: 5%;
        }
    }

    div.number {
        display: flex;
        img {
            width: 5%;
        }
    }
    div.arrowphone {
        width: 5%;
        background-color: transparent !important;
    }



    div.leftside {
        width: 100%;
    }


    div.middle {
        display: flex;
        background-color: var(--darkblue);

        button {
            background-color: var(--lightblue);
            padding: 6px 11px 6px 11px;
            border: none;
        }
    }

    div.socialmedia {
        padding: 0;
        padding-bottom: 0;
        text-align: left;
        width: 100%;
        flex-flow: column;
    

        img {
            width: 10%;
            grid-template-areas:
                "yt tw ig fb";
        }
    }

    

    @include md {
        grid-template-columns: 1fr 1fr;
    
    }

    @include lg {
        grid-template-columns: 1fr 1fr 1fr;



    }
}