/* =============
    Header
============= */

#header{

    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--darkblue);
        color: var(--white);
        padding: 25px 0;

      div.searchbarmiddle{
    background-color: var(--darkblue);
    text-align: center;
 
      }

    div.Slogo{
        background-color: var(--darkblue);
        text-align: right;
    }
     @include md{
    
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include lg{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

   