/* =============
    Header
============= */

header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--darkblue);
    color: var(--white);
    padding: 25px 0;
    text-align: center;
    padding-bottom: 0;
    p{
        font-family: Pattaya;
        font-weight: 400;
        font-size: 24px;  
        margin: 0;
        padding: 25px;
    }
    

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        }

    .headerbuttons {
        padding: 0;
        padding-bottom: 0;
        display: flex;
        
        button {
            border-radius: 3.5px;
            border: none;
            padding: 6px 11px 6px 11px;
            background-color: transparent !important; 
        }
    }

    .compname {
        justify-content: space-between;
        padding: 0;    
    }

    .Slogo {
        button {
            border: none;
            background-color: transparent !important; 
        }
    }


    form#searcharea {
        display: flex;
        width: 100%;
        background-color: var(--white);
        padding: 20px 0;
        padding-bottom: 0;
        align-items: stretch;
        justify-content: space-between;
        gap: 10px;

        input {
            border: none;
            border-bottom: 1px solid var(--darkblue);
            width: 100%;
        }

        button {
            border-radius: 3.5px;
            border: none;
            padding: 6px 11px 6px 11px;
            background-color: var(--lightblue); 
        }

        img {}
    }
}